[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/impact-config"]
	path = bundle/impact-config
	url = git@github.comcast.com:jjob200/impact-config.git
[submodule "config"]
	path = config
	url = git@github.comcast.com:jjob200/impact-config.git
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = https://github.com/fatih/vim-go
[submodule "bundle/vim-awesome"]
	path = bundle/vim-awesome
	url = https://nursejason@github.com/tpope/vim-commentary
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
